# Eclipse IDE files
.metadata
.settings/
.project
.classpath
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Java compiled files
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
*.iws

# Build tools
target/
build/